<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('.theme-toggle');

        toggleButton.addEventListener('click', function() {
            window.location.href = 'https://github.com/byj1009/byj1009.github.io'; // 임시 기능
        });
    });
</script> -->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('.theme-toggle');
        let currentSkin = localStorage.getItem('skin') || 'daylight'; // 기본값 설정

        // 초기 로드 시 현재 스킨 적용
        document.body.classList.add(currentSkin);

        toggleButton.addEventListener('click', function() {
            // 현재 스킨을 토글
            if (currentSkin === 'daylight') {
                currentSkin = 'midnight';
            } else {
                currentSkin = 'daylight';
            }

            // 클래스 변경
            document.body.className = currentSkin;

            // 로컬 스토리지에 현재 스킨 저장
            localStorage.setItem('skin', currentSkin);
        });
    });
</script>
