<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="site-container">
      <header class="site-header">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper">
        <aside class="site-sidebar" id="site-sidebar">
          {% if page.toc %}
            {% include sidebar-toc.html %}
          {% else %}
            {% include sidebar.html %}
          {% endif %}
        </aside>
        <main class="site-main" id="site-main" aria-label="Content" tabindex="1">
          {{ content }}
          <footer class="site-footer">
            {% include footer.html %}
          </footer>
        </main>
      </div>

      <!-- 토글 버튼 추가 -->
<!--       <button title="Toggle Theme" class="theme-toggle">
        <svg viewBox="0 0 32 32" width="38" height="36" fill="currentcolor">
            <!-- CVG 좌표시스템 설정, 0,0 ~ 32,32 // 높이와 넓이 38,36 // fill: 텍스트 색상을 현재 색상으로 -->
            <circle cx="16" cy="16" r="16" fill="none" stroke="currentcolor" stroke-width="1"></circle>
            <!-- cx, cy : 원의 중심좌표, r : 반지름,  -->
            <path d="
                M 16 0
                A 16 16 0 0 0 16 32
                z">
            <!-- 타원을 그려서 칠함 반원의 흑백 구 표현 -->
            </path>
        </svg>
      </button> -->
      <div class="switch">
        <input type="checkbox" id="switch">
        <label for="switch"></label>
      </div>
      <head>
        {% include toggle-theme-js.html %}
      </head>
    </div>
  </body>

</html>
